In [127]:
# Import packages

import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import tensorflow as tf
import tensorflow_decision_forests as tfdf
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [128]:
# Read both Train and Test csv files

test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")

In [129]:
train_df.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [130]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [138]:
# Create a copy of the dataframe to work with
train_df_2 = train_df
# Replace "HomePlanet" null values with "Earth"
train_df_2["HomePlanet"].fillna("Earth", inplace=True)
# Replace "CryoSleep" null values with False
train_df_2["CryoSleep"].fillna(False, inplace=True)
# Drop rows with "Cabin" null values
train_df_2 = train_df_2[train_df_2["Cabin"].notna()]
# Replace "Destination" null values with "TRAPPIST-1e"
train_df_2.loc[train_df_2["Destination"].isnull(), "Destination"] = "TRAPPIST-1e"
# Drop rows with "Age" null values
train_df_2 = train_df_2.loc[train_df_2["Age"].notna(), :]
# Replace "VIP" null values with False
train_df_2.loc[train_df_2["VIP"].isnull(), "VIP"] = False
# Replace "RoomService" null values with 0
train_df_2.loc[train_df_2["RoomService"].isnull(), "RoomService"] = 0

In [144]:
train_df_2["RoomService"].value_counts()

0.0       5501
1.0        116
2.0         75
3.0         57
4.0         44
          ...
424.0        1
3471.0       1
3340.0       1
913.0        1
745.0        1
Name: RoomService, Length: 1247, dtype: int64

In [145]:
train_df_2[train_df_2["RoomService"].isnull()]

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Name, Transported]
Index: []

In [139]:
train_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8319 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8319 non-null   object
 1   HomePlanet    8319 non-null   object
 2   CryoSleep     8319 non-null   bool
 3   Cabin         8319 non-null   object
 4   Destination   8319 non-null   object
 5   Age           8319 non-null   float64
 6   VIP           8319 non-null   object
 7   RoomService   8143 non-null   float64
 8   FoodCourt     8145 non-null   float64
 9   ShoppingMall  8117 non-null   float64
 10  Spa           8138 non-null   float64
 11  VRDeck        8139 non-null   float64
 12  Name          8124 non-null   object
 13  Transported   8319 non-null   bool
dtypes: bool(2), float64(6), object(6)
memory usage: 861.1+ KB

In [20]:
X = train_df.drop(columns = "Transported")
y = train_df["Transported"]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [25]:
RFC_model_1 = RandomForestClassifier()
RFC_model_1.fit(X_train, y_train)

ValueError: could not convert string to float: 'Europa'